name: dotnet

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
          GITHUB_USERNAME: ${{ secrets.VICDAM_USER }}  
          GITHUB_TOKEN: ${{ secrets.VICDAM_TOKEN }}     
          host: ${{ secrets.SERVER_HOST }}          
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}          
          password: ${{ secrets.DOCKERHUB_TOKEN }}


jobs:
  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v3
 
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 6.0.x
 
    - name: Restore
      run: dotnet restore
 
    - name: Build
      run: dotnet build --configuration Release --no-restore
 
    - name: Test
      run: dotnet test --no-restore

  push_to_docker:

    name: Push to Docker Hub

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}          
          password: ${{ secrets.DOCKERHUB_TOKEN }}
            
      - name: Get Current Date 
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d--%M-%S')"

      - name: Build, Tag and Push Image
        run: |
          docker build . --file Dockerfile -t $DOCKERHUB_USERNAME/dotnet:${{ steps.date.outputs.date }}
          docker push $DOCKERHUB_USERNAME/dotnet:${{ steps.date.outputs.date }}


  # deployment:
    # name: deployment
    # runs-on: ubuntu-latest

    # steps:
    #   - name: Deploy to server
    #     uses: appleboy/ssh-action@master
    #     with:
    #       host: ${{ secrets.SERVER_HOST }}          
    #       username: ${{ secrets.SERVER_USERNAME }}
    #       password: ${{ secrets.SERVER_PASSWORD }}
    #       port: ${{ secrets.SERVER_PORT }}
    #       script: |
    #         cd ./dotnet/dotnet-githubactions
    #         git pull
    #         pm2 restart dotnet
    #         pm2 save

